#navigation
{ 
	list-style-type:none;
	width:900px;
	padding:1px 10px 20px 20px;
} 
#bigcatname{
	text-align:center;
	float:left;
	width:45px;
	height:25px;
	line-height:25px;
	border:1px solid #fff;
	font-weight: bold;
	font-size: 11pt;
	background-color: #ccddff;
}
.soncatname{
	float:left;
	text-align:center;
	height:25px;
	line-height:25px;
	padding-left:10px;
	padding-right:10px;
	font-size: 10pt;
}
#bar{
	float:left;
	width:450px;
	height:3px;
}
#navigation a:link, #navigation a:visited 
{ 
	display:block; 
	text-decoration:none; 
	color:#000;
} 

#navigation a:hover 
{ 
	color:#2687eb; 
	text-decoration:underline;
} 
#bigcatname a:hover{
	color:#FFF;
	background-color:#2687eb;
	text-decoration:none;
	
}
#catleft{
	width:450px;
	float:left;
}
#catright{
	width:450px;
	float:right;
}
